@model CreateUserInputModel

@{
    ViewData["Title"] = "Meu perfil";
}

<form asp-action="Update">
    <div id="update-form" class="update-form">
        <h3 id="form-title" class="update-form-title">Meu perfil</h3>
        <div id="datas-div" class="datas-div">
            <div class="field-div">
                <label asp-for="Email" id="form-label-1" class="update-form-label">E-mail</label>
                <input asp-for="Email" id="form-input-1" class="form-input" readonly/>
            </div>
                    
            <div class="field-div">
                <label asp-for="Username" id="form-label-2" class="update-form-label">Nome de usuário</label>
                <input asp-for="Username" id="form-input-2" class="form-input" readonly />
            </div>
                    
            <div class="field-div">
                <label asp-for="Email" class="update-form-label">Senha</label>
                <input asp-for="Password" id="form-input-3" class="form-input" readonly/>
            </div>
        </div>

        <div class="update-form-buttons-div" id="buttons-div">
            <button type="button" id="edit-profile-button" class="form-button">Editar</button>
        </div>
    </div>
</form>




<script>
    document.getElementById("edit-profile-button").addEventListener('click', () => adjustFieldsToEdit());
</script>