<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog</title>
    <link rel="stylesheet" href="~/lib/stylesheets/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/stylesheets/UsersStylesheets/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/stylesheets/PostsStylesheets/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-items">
                <a class="nav-website-title" asp-area="" asp-controller="Home" asp-action="Index">My Blog</a>
                <div class="nav-left-items">
                    <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                </div>
                <div class="nav-right-items">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-item" asp-area="" asp-controller="Users" asp-action="MyProfile">Meu perfil</a>
                        <a class="nav-item" asp-area="" asp-controller="Users" asp-action="SignOut">Sair</a>
                    }
                    else
                    {
                        <a class="nav-item" asp-area="" asp-controller="Users" asp-action="SignIn">Entrar</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>